<div class="w-full mx-auto">
  <div class="relative md:px-8 xl:px-0 xl:mx-4">
    <div class="pt-0 pb-16">
      <div class="px-4 sm:px-6 md:px-0">
        <div class="py-0">
          <div>
            <!-- Description list with inline editing -->
            <div class="mt-10 divide-y divide-gray-200 p-5 rounded-md bg-white">
              <div class="space-y-1 relative">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  Exchange Orders
                </h3>
                <div class="table-responsive text-xs">
                  <table
                    class="min-w-full divide-y divide-gray-300"
                    datatable
                    id="view-users-datatable"
                    style="width: 100%"
                    [dtOptions]="dtOptions"
                  >
                    <thead class="my-demo-class">
                      <tr class="first-header">
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          AppOrderId
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Product Type
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Order Side
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Order Type
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Order Category Type
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Order Status
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Order Generation Time
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Exchange Transact Time
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Order Quantity
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Cumulative Quantity
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Trading Symbol
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          GUID
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Cancellation Reason
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          Traded Price
                        </th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>

                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>

                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                        <th
                          class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900"
                        >
                          <input
                            type="text"
                            class="w-full border-gray-300 shadow-sm focus:border-gray-300 focus:ring-gray-300 sm:text-sm"
                            placeholder="Search"
                          />
                        </th>
                      </tr>
                    </tfoot>
                    <tbody class="divide-y divide-gray-200">
                      <tr *ngFor="let user of data">
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.appOrderID }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.productType }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.orderSide }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.orderType }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.orderCategoryType }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.orderStatus }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.orderGeneratedDateTime }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.exchangeTransactTime }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.orderQuantity }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.cumulativeQuantity }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.tradingSymbol }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.orderUniqueIdentifier }}
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          <div class="break-words">
                            {{ user.cancelRejectReason }}
                          </div>
                        </td>
                        <td
                          class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 border-b border-gray-200"
                        >
                          {{ user.orderAverageTradedPrice | number : "1.1-2" }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
