<form [formGroup]="InsertUserForm" class="p-3">
  <div mat-dialog-content>
    <div class="w-full">
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </div>
    <div class="flex mt-10">
      <div class="flex-1 align-middle lg:w-6/12 pt-0">
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            First Name
          </label>
          <input
            type="text"
            name="firstName"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="First Name"
            formControlName="firstName"
          />
        </div>
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            Last Name
          </label>
          <input
            type="text"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="Last Name"
            formControlName="lastName"
          />
        </div>

        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            Email
          </label>
          <input
            type="email"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            Mobile
          </label>
          <input
            type="tel"
            [readonly]="userService.userDetails.userType != 'ADMIN'"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="Mobile"
            formControlName="mobile"
          />
        </div>
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            Address
          </label>
          <textarea
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="Address"
            formControlName="address"
          ></textarea>
        </div>
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            Country
          </label>
          <select
            formControlName="country"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          >
            <option *ngFor="let item of countries" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            State
          </label>
          <select
            formControlName="state"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          >
            <option
              *ngFor="let stateName of allStateNames"
              [value]="stateName.id"
            >
              {{ stateName.name }}
            </option>
          </select>
        </div>
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            City
          </label>
          <input
            type="text"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="City"
            formControlName="city"
          />
        </div>
      </div>
      <div class="flex-1 px-4 align-middle lg:w-6/12 pt-0">
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            Aadhar Number
          </label>
          <input
            type="text"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="Aadhar Number"
            formControlName="aadharNumber"
          />
        </div>
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            PAN Number
          </label>
          <input
            type="text"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="PAN Number"
            formControlName="panNumber"
          />
        </div>
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            UPI
          </label>
          <input
            type="text"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="UPI"
            formControlName="upi"
          />
        </div>
        <div class="relative w-full mb-3">
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            Bank Account
          </label>
          <input
            type="text"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            placeholder="bankAccount"
            formControlName="bankAccount"
          />
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:pt-5">
          <label for="photo" class="block text-sm font-medium text-gray-700"
            >Aadhar</label
          >
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <div class="flex items-center">
              <span class="h-auto w-48 overflow-hidden bg-gray-100">
                <img class="h-full w-full text-gray-300" [src]="aadhar" />
              </span>
              <input
                type="file"
                #uploaderAadhar
                placeholder="Choose file"
                (change)="uploadFile(uploaderAadhar.files, 'aadhar')"
                style="display: none"
              />
              <button
                (click)="uploaderAadhar.click()"
                type="button"
                class="ml-5 rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                Change / Upload
              </button>
            </div>
          </div>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:pt-5">
          <label for="photo" class="block text-sm font-medium text-gray-700"
            >Cancelled Cheque</label
          >
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <div class="flex items-center">
              <span class="h-auto w-48 overflow-hidden bg-gray-100">
                <img class="h-full w-full text-gray-300" [src]="cheque" />
              </span>
              <input
                type="file"
                #uploaderCheque
                placeholder="Choose file"
                (change)="uploadFile(uploaderCheque.files, 'cheque')"
                style="display: none"
              />
              <button
                (click)="uploaderCheque.click()"
                type="button"
                class="ml-5 rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                Change / Upload
              </button>
            </div>
          </div>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:pt-5">
          <label for="photo" class="block text-sm font-medium text-gray-700"
            >Pan Card</label
          >
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <div class="flex items-center">
              <span class="h-auto w-48 overflow-hidden bg-gray-100">
                <img class="h-full w-full text-gray-300" [src]="pan" />
              </span>
              <input
                type="file"
                #uploaderPan
                placeholder="Choose file"
                (change)="uploadFile(uploaderPan.files, 'pan')"
                style="display: none"
              />
              <button
                (click)="uploaderPan.click()"
                type="button"
                class="ml-5 rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                Change / Upload
              </button>
            </div>
          </div>
        </div>

        <div
          class="relative w-full mb-3 mt-2"
          *ngIf="userService.userDetails.userType == 'ADMIN'"
        >
          <label
            class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
            htmlFor="grid-password"
          >
            Status
          </label>
          <select
            formControlName="status"
            class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          >
            <option value="PENDING">PENDING</option>
            <option value="ACTIVE">ACTIVE</option>
          </select>
        </div>

        <div class="relative w-full mb-3">
          <div class="grid grid-cols-3 gap-x-3">
            <div class="col-span-2">
              <label
                class="block uppercase text-left text-gray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Brokerage Plan
              </label>
              <select
                formControlName="brokeragePlan"
                (change)="changeBrokeragePlan($event)"
                class="border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              >
                <option *ngFor="let item of brokeragePlans" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
            </div>

            <div>
              <button
                class="bg-indigo-500 mt-5 text-white active:bg-indigo-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button"
                (click)="updateBrokeragePlan()"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngFor="let item of getSelectedPlan()"
      class="rounded-md mt-3 ring-gray-200 p-3 ring-1"
    >
      <div class="text-lg font-bold">
        Strategy: <span class="uppercase">{{ item.strategy }}</span>
      </div>
      <div class="grid grid-cols-2">
        <div>Type: {{ item.type }}</div>
      </div>
      <div class="grid grid-cols-2">
        <div>Buy Margin: {{ item.buyMargin }}</div>
        <div>Buy Brokerage: {{ item.buyBrokerage }}</div>
      </div>
      <div class="grid grid-cols-2">
        <div>Sell Margin {{ item.sellMargin }}</div>
        <div>Sell Brokerage: {{ item.sellBrokerage }}</div>
      </div>
    </div>
  </div>
  <div class="mt-6 flex flex-wrap md:flex-nowrap mat-dialog-actions">
    <button
      class="bg-indigo-500 text-white active:bg-indigo-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
      type="button"
      (click)="saveDetails()"
    >
      Save Details</button
    ><button
      class="bg-transparent border border-indigo-500 text-indigo-500 active:bg-indigo-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
      type="button"
      mat-dialog-close
    >
      Cancel
    </button>
  </div>
</form>
