<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->

<div class="min-h-full flex flex-col justify-top py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-12 w-auto" src="/assets/images/logo.png" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl tracking-tight font-bold text-gray-900">Reset your account password</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <a routerLink="/register" class="font-medium text-indigo-600 hover:text-indigo-500"> Create new account </a>
      </p>
    </div>
  
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form [formGroup]="sendOtpForm" *ngIf="!userEmail">
            <div class="relative w-full mb-3" >
             
              <input
                type="text" formControlName="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Please registered email"
              />
            </div>
           

            
            
            <div class="text-center mt-6">
              <button
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                type="button" (click)="sendOtp()"
              >
                Send OTP
              </button>
            </div>

            <div class="text-center mt-6">
              <p class="text-sm text-gray-500">Already Registered? <a routerLink="/login" class="font-medium text-indigo-600 hover:text-indigo-500">Click here to Login</a></p>
            </div>
          </form>
          
          <form [formGroup]="verifyOtpForm" *ngIf="userEmail && !showChangeForm">
            <div class="text-center mt-6">
              <p class="text-sm text-gray-500 mb-3">OTP has been sent to {{ userEmail }}</p>
            </div>
              <div class="relative w-full mb-3" >
              
              <input
                type="number" formControlName="activationCode"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Enter OTP here"
              />
            </div>
           

            <div class="text-center mt-6">
              <button
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                type="button" (click)="verifyOtp()"
              >
                Verify OTP
              </button>
            </div>
             
          </form>
          
          <form [formGroup]="changePasswordForm" *ngIf="showChangeForm">
            <div class="relative w-full mb-3" >
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password" 
              >
                Enter New Password
              </label>
              <input
                type="password"  formControlName="newPassword"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Please enter new password"
              />
            </div>
            <div class="relative w-full mb-3" >
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password" 
              >
                Re-enter New Password
              </label>
              <input
                type="password" formControlName="confirmPassword"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Please re-enter new password"
              />
            </div>
           

            <div class="text-center mt-6">
              <button
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                type="button" (click)="changePassword()"
              >
                Set New Password
              </button>
            </div>
            
            
          </form>
    
      </div>
    </div>
  </div>
  